.clock{
    width: 100%;
    height: 100%;
    background: rgba(235, 0, 255, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
    position: fixed;
}

.clock span{
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after{
    font-size: 16px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%)
}
#hrs::after{
    content: 'Hours';
}
#mins::after{
    content: 'Minutes';
}
#sec::after{
    content: 'Seconds';
}
.time{
    background: red;
}
.buttons{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 40px;
    margin-top: 20%;  
    position: relative;
    
}
.buttons input{
    width: 35px;
    height: 25px;
    border: none;
    border-radius: 5px;
    text-align: center;

}

